header {
    background-color: blue;
    font-size: 3ch;
}
.tborder {
border: solid black;
}
main {
padding: 4em;
}
footer{
    background-color: blue;
    padding: 4em;
}
.lorem {
    width: 700px;
}
.test-img{
    width: 100%;
}
.right-main-div{
    width: 25vh;
    margin: 4em;
}
.left-main-div{
    width: 80vh;
}
.another-article{
    padding: .5em;
}
.font-size{
    font-size: large;
}
.top-border{
    border-top: 2em rgb(140, 213, 233) solid;
}
.b-margin{
    margin-bottom: .1em;
}

/* Utils */
.d-flex{
    display: flex;
}
.text-center {
    text-align: center;
}
.justify-content-evenly {
justify-content: space-evenly;
}
.justify-content-end{
    justify-content: end;
}
.align-items-center {
    align-items: flex-start;
}
.p-2{
    padding: 2em;
}
.m-0{
    margin: 0%;
}
.top-m-3{
    margin-top: 3em;
}