header {
    background-color: aqua;
    padding: 1em;
}
.tborder {
border: solid black;
}
main {
padding: 4em;
}

/* Utils */
.d-flex{
    display: flex;
}
.text-center {
    text-align: center;
}
.justify-content-evenly {
justify-content: space-evenly;
}
.align-items-center {
    align-items: flex-start;
}
.p-2{
    padding: 2em;
}