header {
    background-color: aqua;
    padding: 1em;
}
.tborder {
border: solid black;
}
main {
padding: 4em;
}
footer{
    background-color: blue;
    padding: 2em;
}
.lorem {
    width: 700px;
}
.test-img{
    width: 100%;
}
.test-img-div{
    width: 25vh;
    margin: 4em;
}

/* Utils */
.d-flex{
    display: flex;
}
.text-center {
    text-align: center;
}
.justify-content-evenly {
justify-content: space-evenly;
}
.justify-content-end{
    justify-content: end;
}
.align-items-center {
    align-items: flex-start;
}
.p-2{
    padding: 2em;
}